<script src="./../js/main.js"></script>
<div class="Navbar-Container">
    <form id="user" action="/logout" method="get" style="display:flex">
        <img src="imgs/{{avatar}}" alt="" style="height: 70px; margin: auto;">
        <h1 id="name" style="display: inline; font-size: xx-large; margin-left:2%; width: 55%;">Bienvenido {{name}}</h1>
        <div style="width: 35%;">
            <p style="margin:auto;">Tus datos</p>
            <ul style="display:contents;">
                <li id="email">{{email}}</li>
                <li id="age">{{age}} años</li>
                <li id="address">{{address}}</li>
                <li id="phoneNumber">{{phoneNumber}}</li>
            </ul>
        </div>
        <button type="submit" class="button">Cerrar sesión</button>
    </form>
</div>
<div class="Cart-Container">
    <div class="Header">
        <h3 class="Heading">Carrito de compras</h3>
        <h5 class="Action" onclick="emptyCart()">Vaciar carrito</h5>
    </div>
    {{#unless products.length}}
    <h3>No hay productos</h3>
    {{else}}
    <form action="/order" method="post" id="order" onsubmit="tryPostOrder();return false;">
        {{#each products}}
        <div class="Cart-Items prod" id="{{{this.name}}}">
            <div class="image-box">
                <img src="{{{this.thumbnail}}}" style="height:60px" />
            </div>
            <div class="about">
                <h1 class="title name" name="name">{{this.name}}</h1>
                <h3>{{this.description}}</h3>
            </div>
            <div class="counter">
                <div class="counter-btn" onclick="addToCart(this.parentElement.parentElement)">+</div>
                <div class="count">0</div>
                <div class="counter-btn" onclick="removeFromCart(this.parentElement.parentElement)">-</div>
            </div>
            <div class="prices">
                <div class="amount price">${{this.price}}</div>
            </div>
        </div>
        {{/each}}
        <div class="checkout">
            <div class="total">
                <div class="Subtotal">Subtotal</div>
                <div class="total-amount">$0</div>
            </div>
        </div>
        <input type="submit" class="button" value="Comprar">
    </form>
    {{/unless}}
</div>